{% extends 'base.html' %}
{% block content %}

<section class="team">
  <h2>Nuestro Equipo</h2>
  <p class="subtitle">Estudiantes de la Universidad Tecnológica de Bolívar — Facultad de Ingeniería</p>

  <div class="member">
    <h3>🧭 Yager Darío Hoyos Díaz</h3>
    <p class="role">Líder de Proyecto y Coordinador de Diseño</p>
    <p>Programa: Ingeniería Mecánica</p>
    <p>Universidad Tecnológica de Bolívar (UTB)</p>
    <p>Código: <b>T00067480</b></p>
    <p>Correo institucional: <a href="mailto:yhoyos@utb.edu.co">yhoyos@utb.edu.co</a></p>
  </div>

  <div class="member">
    <h3>🧠 Onassis Villadiego Castilla</h3>
    <p class="role">Coordinador Académico y Supervisor Teórico</p>
    <p>Programa: Ingeniería Mecánica</p>
    <p>Universidad Tecnológica de Bolívar (UTB)</p>
    <p>Código: <b>T00055327</b></p>
    <p>Correo institucional: <a href="mailto:villadiegoo@utb.edu.co">villadiegoo@utb.edu.co</a></p>
  </div>

  <div class="member">
    <h3>💡 Moisés Valdelamar Sánchez</h3>
    <p class="role">Diseñador de Inicio y Foro</p>
    <p>Programa: Ingeniería Naval</p>
    <p>Universidad Tecnológica de Bolívar (UTB)</p>
    <p>Código: <b>T00068473</b></p>
    <p>Correo institucional: <a href="mailto:valdelamarm@utb.edu.co">valdelamarm@utb.edu.co</a></p>
  </div>

  <div class="member">
    <h3>📘 Nicolás Cabarcas Cuesta</h3>
    <p class="role">Analista de Teoría Aplicada y Ejemplos Experimentales</p>
    <p>Programa: Ingeniería Civil</p>
    <p>Universidad Tecnológica de Bolívar (UTB)</p>
    <p>Código: <b>T00066555</b></p>
    <p>Correo institucional: <a href="mailto:cabarcas@utb.edu.co">cabarcas@utb.edu.co</a></p>
  </div>

  <div class="member">
    <h3>🧩 Camilo Andrés Muñoz Mejía</h3>
    <p class="role">Encargado de Ejercicios y Validación de Resultados</p>
    <p>Programa: Ingeniería Naval</p>
    <p>Universidad Tecnológica de Bolívar (UTB)</p>
    <p>Código: <b>T00064241</b></p>
    <p>Correo institucional: <a href="mailto:camunoz@utb.edu.co">camunoz@utb.edu.co</a></p>
  </div>
</section>

{% endblock %}
